button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background: none;
    cursor: pointer;
    img {
        border-radius: 5px;
        opacity: 0.8;
        width: 100%;
        max-width: 800px;
    }

    img:hover {
        opacity: 1;
    }
}